################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/SendGrid.Service/obj
/SendGrid.Service/.vs
/SendGrid.Service/bin/Debug/netcoreapp3.1
/SendGrid.Service/appsettings.Development.json
